@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btns {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  column-gap: 20px;
}

button {
  font-size: 14px;
  padding: 2px 10px;
  width: 100%;
  min-height: 35px;
  border-radius: 5px;
  font-weight: 600;

  color: #ffffff;
  background-color: #0033ff;
  border: 1px solid #000;
}

button:active{
  transform: scale(.95);
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
  transition: all .001s ease;
}

@media(min-width: 768px){
  button:hover {
    background-color: #ffffff;
    border: 1px solid #000;
    color: #000;
  }
}


.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.result-col {
  font-size: 16px;
  line-height: 1.5;
  color: #3b3b3b;
  font-weight: 500;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.room {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room h1, h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #3b3b3b;
  font-weight: 500;
}

.room .cols {
  display: flex;
}

.room .col {
  flex: 1;
  margin-right: 20px;
}

.room .col:last-child {
  margin-right: 0;
}

.room .inputs {
  margin-bottom: 20px;
}

.room .inputs div {
  margin-bottom: 10px;
}

.room .inputs h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.room .inputs input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.room .response {
  padding: 10px;
  background-color: #f8f8f8e4;
  border-radius: 5px;
  margin-bottom: 10px;
}

.room .response div {
  margin-bottom: 5px;
}

.room .response div:nth-child(3){
  margin-bottom: 20px;
}

.room .response div:first-child {
  margin-top: 5px;
}

.room .response div:last-child {
  margin-bottom: 0;
}

.response div{
  border-bottom: 1px solid #00000050;
}

.response div div{
  border-bottom: none;
}

.apply{
  font-size: 18px;
}